  <div class="jumbotron text-center">
        
        <h1><span class="fa fa-lock"></span>Nodowe Uwierzytelnianie</h1>
        {{#if user.local}}
        <h3><span class="fa fa-user"></span> Jesteś zalogowany jako: {{ user.local.nazwa }}</h3>
        <a href="/logout" class="btn btn-default btn-sm">Wyloguj</a>
        <a href="/profil" class="btn btn-default btn-sm">Profil</a>
        {{else}}
        <p>Zaloguj się lub Zarejestruj:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Zaloguj</a>
        <a href="/rejestracja" class="btn btn-default"><span class="fa fa-user"></span> Zarejestruj</a>
        {{/if}}
    </div>
