<!-- views/login.handlebars -->

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <!-- wyświetl wiadomosc jesli jakas przyjdzie od uzytkownika that come back with authentication -->
      {{#if message.length }} 
        <div class="alert alert-danger">{{message}} </div>
      {{/if}}

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Nazwa Użytkownika</label>
            <input type="text" class="form-control" name="nazwa">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <p>Potrzebujesz konta? <a href="/rejestracja">Zarejestruj</a></p>
    <p>Idź do <a href="/">strony głównej</a>.</p>

</div>