<!-- /views/profil.handlebars -->

<div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Strona Profilowa {{ user.local.nazwa }}</h1>
        <a href="/logout" class="btn btn-default btn-sm">Wyloguj</a>
        <a href="/" class="btn btn-default btn-sm">Strona Główna</a>
    </div>

    <div class="row">

        <!-- INFORMACJE O UYTKOWNIKU -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Witaj {{ user.local.nazwa }}</h3>

                    <p>
                        <strong>id</strong>: {{user._id}}<br>
                        <strong>nazwa</strong>: {{ user.local.nazwa }} <br>
                        <strong>zaszyfrowane hasło</strong>: {{ user.local.password }} <br>
                    </p>

            </div>
        </div>

    </div>
