<!-- views/rejestracja.handlebars -->
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Rejestracja</h1>

    <!-- jeśli po zalogowaniu otrzymamy wiadomość pokaz ją-->
    {{#if message.length }}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <!-- FORMULARZ LOGOWANIA -->
    <form action="/rejestracja" method="post">
        <div class="form-group">
            <label>Nazwa Użytkownika</label>
            <input type="text" class="form-control" name="nazwa">
        </div>
        <div class="form-group">
            <label>Hasło</label>
            <input type="password" class="form-control" name="password" id="passwd">
        </div>
        <div class="form-group">
            <label>Powtórz Hasło</label>
            <input type="password" class="form-control" name="passwordrp" id="passwdv">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Rejestruj</button>
    </form>

    <hr>

    <p>Masz juz konto? <a href="/login">Zaloguj</a></p>
    <p>Idź do <a href="/">Strony Głównej</a>.</p>

</div>